.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --main-color: #ff8DCB;
  --paragraph-text: #353430;
  --content-title: #353430;
  --main-text: #FFC2E6;
  --button-text: #353430;
  --title-text: #353430;
  --button-active: #353430;
  --button-hover: rgba(50, 49, 45, 0.40);
}
 .theme_light .decorative-element {
    display: none;
 }
@media (prefers-color-scheme: light) {
:root {
  --background-image: url(../images/cover-image-light.png);
  --main-color: #ff8DCB;
  --paragraph-text: #353430;
  --content-title: #353430;
  --main-text: #FFC2E6;
  --button-text: #353430;
  --title-text: #353430;
  --button-active: #353430;
  --button-hover: rgba(50, 49, 45, 0.40); 
  }
  .decorative-element {
    display: none;
 }
}









