.page {
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', monospace;
}

.header {
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  margin-block-end: 60px;
  block-size: 100vh;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  color: var(--button-text);
  padding: 0 13px;
  font-size: 18px;
  appearance: none;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-text);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-text);
}

.title {
  color: var(--main-text);
  line-height: 82.5%;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
}

.header__title {
  align-items: center;
  text-shadow: 4px 4px 0px var(--text-shadow);
  margin-left: -20px;
}

.title-decor {
  color: var(--title-text);
  font-size: 18px;
  font-weight: 700;
  background-color: var(--main-color);
  justify-self: end;
  align-self: center;
  max-width: 491px;
}

.decorative-element {
  position: absolute;
  color: var(--main-color);
  font-size: 18px;
  line-height: 25px;
  top: 20px;
  right: 48px;
  text-transform: uppercase;
}

.decorative-element:after {
  content: '';
  position: absolute;
  margin-top: 8px;
  margin-left: 10px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 0px 0px 5px 3px var(--main-color);
}

.decorated-zone:before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--button-text);
  border-right: 1px solid var(--button-text);
  block-size: 25px;
  inline-size: 25px;
  top: 20px;
  right: 20px;
}

.decorated-zone:after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--button-text);
  border-left: 1px solid var(--button-text);
  block-size: 25px;
  inline-size: 25px;
  left: 20px;
  bottom: 20px;
}

.content {
  padding: 0 20px;
}

.content__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 80px;
  gap: 20px;
}

.content__block:last-child {
  margin-bottom: 61px;
}

.article {
  grid-column: 2 / 4;
}

.content__title {
  color: var(--content-title);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.article__main {
  grid-row: 2;
}

.article__title {
  color: var(--title-text);
  background-color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

.article__title:first-child {
  grid-column: 1 / 4;
  margin-bottom: 0;
}

.content__paragraph {
  color: var(--paragraph-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 10px;
}

.content__under-paragraph {
  color: var(--title-text);
  background-color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 20px;
}

.link {
  text-shadow: 2px 2px 0px var(--main-color);
  text-decoration: none;
}

.link:hover {
  color: var(--paragraph-text);
  text-decoration-line: underline;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--paragraph-text);
}

.image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.image:first-of-type {
  grid-row: 2;
  grid-column: 1 / 3;
}

.image:nth-of-type(2) {
  grid-row: 2 / 4;
}

.image:nth-of-type(3) {
  grid-row: 3 / 5;
}

.image:last-of-type {
  grid-column: 2 / 4;
}

.footer {
  position: relative;
  padding: 20px;
  display: grid;
  block-size: 100vh;
}

.footer-title {
  margin: auto;
  text-shadow: 2px 2px 0px var(--main-color);
}

@media (768px >=width) {
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    display: grid;
  }

  .title-decor {
    max-width: 50%;
    overflow: hidden;
    
  }

  .content__block-inline {
    display: flex;
    flex-wrap: wrap;
  }

  .content__title {
    width: 23vh;
  }
}

@media (375px >=width) {
  .header {
    padding: 10px;
    margin-bottom: 30px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0px;
  }

  .decorative-element {
    top: 10px;
    right: 38px;
  }

  .decorated-zone:before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone:after {
    left: 10px;
    bottom: 10px;
  }

  .title-decor {
    max-width: 100%;
  }

  .content {
    padding: 10px;
  }

  .content__block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .content__title {
    width: 100%;
  }

  .article__title {
    width: 100%;
  }

  .content__paragraph-inline {
    margin-top: -10px;
  }

  .images {
    gap: 10px;
  }

  .content__block:last-child {
    margin-bottom: 30px;
  }

  .footer {
    padding: 10px;
  }

  .footer-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
